<div class="sidebar-wrapper">
    <div class="sidebar-nav">
        <ul class="nav nav-stacked">
            <li class="active"><a href="#"><span class="glyphicon glyphicon-inbox"></span>Inbox</a></li>        
            <li><a href="#"><span class="glyphicon glyphicon-calendar"></span>Today</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-th-list"></span>Next 7 Days</a></li>            
        </ul>
    </div>
    <div class="sidebar-categories">
        <p>Categories</p>
        <ul class="nav nav-stacked">
            <li><a href=""><span class="glyphicon glyphicon-education"></span>ASP.NET</a></li>
            <li><a href=""><span class="glyphicon glyphicon-education"></span>English</a></li>
            <li><a href=""><span class="glyphicon glyphicon-education"></span>Social Skills</a></li>
            <li><a href=""><span class="glyphicon glyphicon-education"></span>AngularJS</a></li>
            <li><a href=""><span class="glyphicon glyphicon-education"></span>Photography</a></li>
        </ul>
    </div>
</div>
