<div class="sidebar-wrapper" ng-controller="Sidebar as vm">
    <div class="sidebar-nav">
        <ul class="nav nav-stacked">
            <li class="active"><a href="#"><span class="glyphicon glyphicon-inbox"></span>Inbox</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-calendar"></span>Today</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-th-list"></span>Next 7 Days</a></li>
        </ul>
    </div>
    <div class="sidebar-categories">
        <p>Projects</p>
        <ul class="nav nav-stacked" ng-repeat="project in vm.projects">
            <li><a href=""><span class="glyphicon glyphicon-education"></span>{{project.name}}</a></li>
        </ul>
        <div ng-show="vm.projectFormSwitch">
            <div class="form-group">
                <div>
                    <input type="text" class="form-control" placeholder="Project Name" ng-model="vm.project.name" />
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-sm btn-success" ng-click="vm.addProject()">Add Project</button>
                <button class="btn btn-sm btn-default" ng-click="vm.hideProjectForm()">Cancel</button>
            </div>
        </div>
        <button class="btn btn-link" ng-click="vm.showProjectForm()">
            <span class="glyphicon glyphicon-plus"></span>Add Project
        </button>        
    </div>


</div>
