<nav class="topnav">                 
    <div class="topnav-wrapper">
        <div class="topnav-brand">
            <a href="#">Diligent</a>
        </div>           
        <div class="topnav-search">
            <input type="text" class="form-control" placeholder="Quick Find">
        </div>            
        <div class="topnav-icons">
            <ul>
                <li><a href="#"><span class="glyphicon glyphicon-plus"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-cog"></span></a></li>
            </ul>
        </div>               
    </div>
</nav>
