<div class="topnav" ng-controller="Topnav as vm">
    <div class="topnav-wrapper">
        <div class="topnav-brand">
            <a ui-sref="login">Diligent</a>
        </div>
        <div class="topnav-search">
            <input type="text" class="form-control" placeholder="Quick Find">
        </div>
        <div class="topnav-icons" style="display: none">
            <ul>
                <li><a href="#"><span class="glyphicon glyphicon-plus"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-cog"></span></a></li>
            </ul>
        </div>
        <div class="topnav-account">
            <ul>
                <li><a ui-sref="login">Log in</a></li>
                <li><a ui-sref="register">Sign up</a></li>
            </ul>
        </div>
    </div>
</div>


