/***********************
       Setting
Color
    body background: rgb(250, 250, 250)
    topnav background: #3c9b0d
    sidbar font: rgb(92, 92, 92)
    content background: #fff
    
************************/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: rgb(250, 250, 250);
}

.ng-scope {
    height: 100%;
}

.shell {
    display: flex;
    flex-direction: column;
    /*justify-content: flex-end;
    align-items: stretch; 
    align-content: stretch;*/ 
}

/***********************
       topnav
************************/
.topnav {
    background: #3c9b0d;
    width: 100%;
    height: 60px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    z-index: 999;
}

.topnav a {
    display: block;
    color: #fff;
    text-decoration: none;
}

.topnav-wrapper {
    margin: 0 auto;
    max-width: 950px;
    height: 100%;
    display: flex;
}

.topnav-brand {
    height: 100%;
    width: 25%;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.topnav-brand a {
    font-size: 24px;
}

.topnav-search {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
}

.topnav-icons {
    /*background: blue;*/
    height: 100%;
    width: 50%;
    display: flex;
}

.topnav-icons ul {
    /*background: pink;*/
    margin-left: auto;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}

.topnav-icons ul li {
    /*background: gray;*/
    height: 100%;
    width: 30px;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.topnav-icons ul li a {
    display: block;
    font-size: 20px;
}


.topnav-account {
    /*background: blue;*/
    height: 100%;
    width: 50%;
    display: flex;
}

.topnav-account ul {
    /*background: pink;*/
    margin-left: auto;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}

.topnav-account ul li {
    /*background: gray;*/
    height: 100%;
    width: 60px;
    margin: 0 5px;
    display: flex;
    align-items: center;
}

.topnav-account ul li a {
    display: block;
    font-size: 16px;
}



@media (max-width: 750px) {

    .topnav-brand {
        width: 20%;
    }

    .topnav-search {
        width: 50%;
    }

    .topnav-icons {
        width: 30%;
    }
}
/***********************
       main
************************/
.main {
    flex: 1; 
    margin: 0 auto;
    width: 100%;  
    max-width: 950px;
    display: flex;    
    /*background: blue;*/
    overflow: hidden;
}

@media (max-width: 750px) {

}

/***********************
       sidebar
************************/
.sidebar {
    /*background: red;*/
    padding-top: 30px;
    width: 260px;
    height: 100%;
    overflow: hidden;
}

.sidebar a {
    text-decoration: none;
    color: rgb(92, 92, 92);
    border-right: 1px solid #f1f1f1;
}

.sidebar-nav {
    font-size: 16px;
}

.sidebar span {
    margin-right: 10px;
}

.sidebar-categories p {
    font-size: 14px;
    margin: 10px 0;
    padding: 5px 15px;
    border-bottom: 1px solid rgb(204,204,204);
}

@media (max-width: 750px) {
    .sidebar {
        position: absolute;
        left: -260px;
    }
}
/***********************
       content
************************/
.content {
    width: 100%;
    height: 100%;
    background: #fff;
    border-right: 1px solid #f1f1f1;
    overflow:hidden;
    margin-top: 1px;
}

@media (max-width: 750px) {
    
}

/***********************
       Account
************************/
.account-panel {
    max-width: 540px;
    margin: 40px auto;
}